/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.Di{
    background-image: url('imagen/Image.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    position: relative;
}

.Di::before {
    content: "";                  
    position: absolute;           
    top: 0;                       
    left: 0;                      
    right: 0;                     
    bottom: 0;                    
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 0;    
}

.container-fluid {
    position: relative;           
    z-index: 1;                  
}

.contain{
    position: relative;           
    z-index: 1; 
}
